@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container px-5 mx-auto lg:px-0;
}

.linear-walkaways {
  @apply relative before:absolute before:top-1/2 before:left-0 before:w-0 before:h-[1px] before:bg-rose-500 hover:before:w-full before:duration-300;
}

.counting-bubble {
  @apply absolute bottom-0 flex items-center justify-center w-4 h-4 text-xs text-white bg-black rounded-full -right-2;
}

/* HOME SLIDE */
.cta-btn {
  @apply relative;
}
.cta-btn::before {
  content: "";
  @apply absolute top-0 bottom-0 left-0 right-0 z-10 w-0 duration-300 bg-rose-900;
}

.cta-btn:hover::before {
  @apply w-full;
}

.slider {
  @apply h-[calc(100vh-5rem)] flex duration-1000;
}

.navigators {
  @apply absolute left-0 right-0 m-auto w-fit z-[1] text-2xl flex gap-10;
}

.navigators-btn {
  @apply flex items-center justify-center w-20 duration-300 border h-14 bg-rose-900 text-rose-200 border-rose-200 hover:bg-gray-900 hover:text-gray-200 hover:border-gray-200;
}

.slide {
  @apply w-screen h-full bg-center bg-no-repeat bg-cover;
}

.section-title {
  @apply text-3xl font-thin uppercase lg:text-5xl;
}

/* MOBILE NAV */

.flexColMod {
  @apply flex flex-col fixed z-[2] w-screen h-[calc(screen-5rem)] bg-white/80 top-0 bottom-0 left-0 right-0 items-center justify-center text-xl gap-5 text-center backdrop-blur-xl uppercase;
}

.lock-scroll {
  overflow: hidden;
}

/* CATEGORIES */
.sq-men {
  background-image: url(https://cdn.pixabay.com/photo/2017/05/17/04/03/golden-apple-2319790_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @apply relative flex items-center justify-center flex-1 aspect-square;
}

.sq-bag {
  background-image: url(https://i.postimg.cc/LsmHqZCQ/AEQUEEN-Women-Handbag-Casual-Tote-Bag-Female-Large-Shoulder-Messenger-Bags-High-Quality-Suede-Leathe.jpg);
}
.sq-wallet {
  background-image: url(https://i.postimg.cc/GtJvdDHP/416489288f96accb9cb808f432g2-sumki-i-aksessuary-koshelek-kozha-krejzi-hors-temno-sinij-na.jpg);
}
.sq-belt {
  background-image: url(https://i.postimg.cc/bYtZb1Y3/bd0d9ecd4e2c880f507e014fe9b2.jpg);
}
.sq-travel-bag {
  background-image: url(https://i.postimg.cc/JhNTGsDn/6d43eaaf72e63a2ee69a6363f7c1-sumki-i-aksessuary-dorozhnaya-muzhskaya-kozhanaya-sumka-sport.jpg);
}

.sq-women {
  background-image: url(https://cdn.pixabay.com/photo/2017/09/20/10/29/beautiful-2768032_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @apply relative flex items-center justify-center flex-1 aspect-square;
}

.category-title-men,
.category-title-women {
  @apply z-20 hidden text-6xl font-medium text-gray-100 uppercase duration-500 ease-in-out;
}

.overlay {
  @apply absolute top-0 bottom-0 left-0 right-0 z-10 w-full h-full duration-500 ease-in-out bg-gray-800 opacity-0;
}

.sq-men:hover .overlay,
.sq-women:hover .overlay {
  opacity: 0.85;
}

.sq-men:hover .category-title-men,
.sq-women:hover .category-title-women {
  @apply block;
}

/* FOOTER AREA */

.icon-circle {
  @apply flex items-center w-10 h-10 duration-300 rounded-full cursor-pointer bg-rose-700;
}
.icon-circle:hover {
  @apply bg-rose-800;
}

.footer-nav-links {
  @apply duration-300;
}
.footer-nav-links:hover {
  @apply duration-300 text-rose-500;
}

.social-icons {
  @apply flex justify-center gap-4 mt-3;
}

/* image gallery design */
.grid-container {
  margin: auto auto;
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);

  grid-template-areas:
    "   .    .      .    .     .  img3  img3  img3    .     .     .     . "
    "  img1  img1   .    .     .  img3  img3  img3  img4  img4  img4   img4 "
    "  img1  img1  img2 img2 img2 img3  img3  img3  img4  img4  img4   img4 "
    "  img1  img1  img2 img2 img2 img3  img3  img3  img4  img4  img4   img4 "
    "  img5  img5  img2 img2 img2 img3  img3  img3  img9  img9 img10   img10"
    "  img5  img5  img6 img6 img7 img7  img8  img8  img9  img9 img10   img10"
    "  img5  img5  img6 img6 img7 img7  img8  img8  img9  img9 img10   img10"
    "  img5  img5  img6 img6 img7 img7  img8  img8   .     .   img10   img10"
    "  .      .    img6 img6 img7 img7    .     .    .     .      .       . ";

  gap: 1rem;
  padding: 0.75rem 0rem;
}

.grid-container > div {
  padding: 0.6rem 0rem;
}

.item1 {
  grid-area: img1;
}

.item2 {
  grid-area: img2;
}

.item3 {
  grid-area: img3;
}

.item4 {
  grid-area: img4;
}

.item5 {
  grid-area: img5;
}

.item6 {
  grid-area: img6;
}

.item7 {
  grid-area: img7;
}

.item8 {
  grid-area: img8;
}

.item9 {
  grid-area: img9;
}

.item10 {
  grid-area: img10;
}

/* Gallery Responsive Desing Starts*/
@media only screen and (max-width: 1280px) {
  .grid-container {
    margin: 0 auto;
    width: 65rem;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    grid-template-areas:
      "img1  img1  img1  img1  img2  img2"
      "img5  img5  img6  img6  img7  img7"
      "img3  img3  img4  img4  img4  img4";

    gap: 1rem;
    padding: 0.75rem 0rem;
  }

  .item8 {
    display: none;
  }

  .item9 {
    display: none;
  }

  .item10 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    grid-template-areas:
      "img1 img2"
      "img3 img4";

    gap: 1rem;
    padding: 0.75rem 0rem;
  }

  .item5 {
    display: none;
  }

  .item6 {
    display: none;
  }
  .item7 {
    display: none;
  }

  .item8 {
    display: none;
  }

  .item9 {
    display: none;
  }

  .item10 {
    display: none;
  }
}

@media only screen and (max-width: 468px) {
  .grid-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    grid-template-areas:
      "img1"
      "img2";
    gap: 1rem;
    padding: 0.75rem 0rem;
  }

  .item3 {
    display: none;
  }

  .item4 {
    display: none;
  }

  .item5 {
    display: none;
  }

  .item6 {
    display: none;
  }

  .item7 {
    display: none;
  }

  .item8 {
    display: none;
  }

  .item9 {
    display: none;
  }

  .item10 {
    display: none;
  }
}
/* Gallery Responsive Desing Ends*/

/* Cart design */
@media screen and (max-width: 425px) {
  .product-headlines {
    grid-template-columns: repeat(12, minmax(auto-fill, 1fr));
    gap: 5px;
  }

  .img {
    width: 5rem;
    height: 5rem;
  }
}
